---
title: 白米粥
description: 白米粥
content: ./data/about.md
---
<section id="main">
    <article class="article article-type-post" itemscope itemprop="blogPost">
        <div class="article-inner">
            <div class="article-entry" itemprop="articleBody">
                {{md content}}
            </div>
        </div>
    </article>
</section>
