<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>
<div id="container">
    <div id="wrap">
        {{> header}}
        <div class="outer">
            {{> body }}
        </div>
        {{> footer}}
    </div>
    <nav id="mobile-nav">
        <a href="/" class="mobile-nav-link">Home</a>
        <a href="/about.html" class="mobile-nav-link">About</a>
    </nav>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/script.js" type="text/javascript"></script>
</div>
</body>

</html>