<meta charset="UTF-8">
<title>{{title}}</title>
<link rel="stylesheet" href="/css/style.css" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="{{title}}">
<link href="/public/favicon.ico" rel="shortcut icon">